<ion-header>
  <ion-navbar>
    <ion-title>Add an Asset</ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear (click)='this.addAsset(assetDb)'>
        <ion-icon name="checkmark" color='light'>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-slides pager>

        <ion-slide style="background-color: rgb(128, 128, 128)" (click)='takePic()'>
            <button ion-button icon-only clear >
                <ion-icon name="camera" color='dark'></ion-icon>
                 </button>
        </ion-slide>
      
        <ion-slide>
            <img src='assets/imgs/men.jpg' class='img-responsive'>
            <ion-fab right top>
              <button ion-fab color="danger"><ion-icon name="trash"></ion-icon></button>
            </ion-fab>
        </ion-slide>
      </ion-slides>

        <form (ngSubmit)="onSubmit()">
      
              <ion-item>
                  <ion-label>Type</ion-label>
                  <ion-select name='a' [(ngModel)]='assetDb.Type' interface="popover" >
                    <ion-option *ngFor="let t of type | async" value= {{t.name}}> {{t.name}}</ion-option>
                    
                  </ion-select>
                </ion-item>
  
                <ion-item>
                  <ion-label>Model</ion-label>
                  <ion-select name='a' [(ngModel)]='assetDb.Model' interface="popover" >
                    <ion-option *ngFor="let t of models | async" value= {{t.name}}> {{t.name}}</ion-option>
                    
                  </ion-select>
                </ion-item>
              
                <ion-item>
                  <ion-label>Operating System</ion-label>
                  <ion-select name='a' [(ngModel)]='assetDb.OS' interface="popover" >
                    <ion-option *ngFor="let o of OS | async" value= {{o.Name}}> {{o.Name}}</ion-option>
                    
                  </ion-select>
                </ion-item>
  
              <ion-item>
                  <ion-label stacked>Memory</ion-label>
                  <ion-input type="text" placeholder="The memory capacity of the device" name='b' [(ngModel)]='assetDb.Memory'></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label stacked>Hard disk</ion-label>
                  <ion-input type="text" placeholder="The hard disk capacity of the device" name='c' [(ngModel)]='assetDb.HDD'></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label stacked>Number</ion-label>
                  <ion-input type="text" placeholder="e.g. CP.CCQO.123456.FA" name='d' [(ngModel)]='assetDb.Number'></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label stacked>Serial Tag</ion-label>
                  <ion-input type="text" placeholder="e.g. PSWEUD230WEHPM34" name='e' [(ngModel)]='assetDb.Serial'></ion-input>
              </ion-item>
              
              <ion-item>
                  <ion-label>Project</ion-label>
                  <ion-select name='2' [(ngModel)]='assetDb.Project' interface="popover" >
                    <ion-option *ngFor="let p of proj | async" value= {{p.Name}}> {{p.Name}}</ion-option>
                  </ion-select>
                </ion-item>
  
              <ion-item>
                      <ion-label>Owner</ion-label>
                      <ion-select name='k' [(ngModel)]='assetDb.Owner' interface="popover" >
                        <ion-option *ngFor="let p of people | async" value= {{p.First_name}}> {{p.First_name}}</ion-option>
                        
                      </ion-select>
              </ion-item>
  
              <ion-item>
                      <ion-label>Assignee</ion-label>
                      <ion-select name='j' [(ngModel)]='assetDb.Assignee' interface="popover" >
                        <ion-option *ngFor="let c of people | async" value= {{c.First_name}}> {{c.First_name}}</ion-option>
                        
                      </ion-select>
              </ion-item>
  
              <ion-item>
                  <ion-label>Cube</ion-label>
                  <ion-select name='g' [(ngModel)]='assetDb.Cube' interface="popover" >
                    <ion-option *ngFor="let c of cube | async" value= {{c.Name}}> <h2>{{c.Name}}</h2>
                      <br>
                      <p>{{c.Location}}</p>
                    </ion-option>
                    
                  </ion-select>
                </ion-item>
            </form>
              <button ion-button color="test3" outline align="center">ADD PERIPHERAL</button>

</ion-content>
