<ion-header>
    <ion-navbar>
      <ion-title>Editing Asset {{currAsset.Type}} {{currAsset.Model}}</ion-title>
      <ion-buttons end>
        <button ion-button icon-only clear (click)='updateAsset(this.assetDb)'>
          <ion-icon name="checkmark" color='light'>
          </ion-icon> 
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>

      
    <ion-slides pager name="newImg">
  
      <ion-slide style="background-color: grey" >
        <div (click)='takePic()'>
      <button ion-button >
        <ion-icon name="camera" color='dark'></ion-icon>
          Take a Picture
      </button>
      </div>
      <br>
      <i><b>or</b></i>
      <br>
      <br>
      <div (click)='getPic()'> 
        <button ion-button >
          <ion-icon name="images" color='dark'></ion-icon>
            Get from Gallery
        </button>
      </div>
    </ion-slide>
  
    <ion-slide *ngIf='(img == undefined && deleteserve == true)'>
      <img src='assets/imgs/logo.png'>
    </ion-slide>
  
    <ion-slide *ngIf='img != undefined'>
      <img [src]='img'>
      <ion-fab right top>
        <button ion-fab color="danger" (click)='showConfirmlocal()'>
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-fab>
    </ion-slide>
  
    <ion-slide *ngIf='(img == undefined && deleteserve == false)'>
      <img [src]='currAsset.img'>
      <ion-fab right top *ngIf='this.editperson.img != stock' >
        <button ion-fab color="danger" (click)='showConfirmserver(peopleaf)'>
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-fab>
    </ion-slide>
  </ion-slides>
  

  
  
        
        
                <ion-item>
                    <ion-label>Type</ion-label>
                    <ion-select name='a' [(ngModel)]='assetDb.Type' interface="popover"  >
                        <ion-option *ngFor="let t of types | async" [value]="t.name" [selected]="t.name == currAsset.Type" > {{t.name}}</ion-option>
                      
                    </ion-select>
                  </ion-item>
    
                  <ion-item>
                    <ion-label>Model</ion-label>
                    <ion-select name='b' [(ngModel)]='assetDb.Model' interface="popover">
                      <ion-option *ngFor="let t of models | async" [value]="t.name" [selected]="t.name == currAsset.Model"> {{t.name}}</ion-option>
                      
                    </ion-select>
                  </ion-item>
                
                  <ion-item>
                    <ion-label>Operating System</ion-label>
                    <ion-select name='c' [(ngModel)]='assetDb.OS' interface="popover" >
                      <ion-option *ngFor="let o of OS | async" [value]="o.Name" [selected]="o.Name == currAsset.OS"> {{o.Name}}</ion-option>
                      
                    </ion-select>
                  </ion-item>
    
                <ion-item>
                    <ion-label stacked>Memory</ion-label>
                    <ion-input type="text"  value= {{currAsset.Memory}} placeholder='The memory capacity of the device' [(ngModel)]="assetDb.Memory" ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Hard disk</ion-label>
                    <ion-input type="text"  value= {{currAsset.Hard_Disk}} placeholder="The hard disk capacity of the device" name='e' [(ngModel)]="assetDb.HDD"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Number</ion-label>
                    <ion-input type="text"  value= {{currAsset.Number}} placeholder="e.g. CP.CCQO.123456.FA" name='f' [(ngModel)]='assetDb.Number'></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Serial Tag</ion-label>
                    <ion-input type="text"  value= {{currAsset.Serial}} placeholder="e.g. PSWEUD230WEHPM34" name='g' [(ngModel)]='assetDb.Serial'></ion-input>
                </ion-item>
                
                <ion-item>
                    <ion-label>Project</ion-label>
                    <ion-select name='2' [(ngModel)]='assetDb.Project' interface="popover" >
                      <ion-option *ngFor="let p of proj | async" [value]= "p.Name" [selected]="p.Name == currAsset.Project"> {{p.Name}}</ion-option>
                    </ion-select>
                  </ion-item>
    
                <ion-item>
                        <ion-label>Owner</ion-label>
                        <ion-select name='k' [(ngModel)]='assetDb.Owner' interface="popover" >
                          <ion-option *ngFor="let p of people | async" [value]="p.EID" [selected]="p.EID == currAsset.Owner"> {{p.EID}}</ion-option>
                          
                        </ion-select>
                </ion-item>
    
                <ion-item>
                        <ion-label>Assignee</ion-label>
                        <ion-select name='j' [(ngModel)]='assetDb.Assignee' interface="popover" selected=" currAsset.Assignee ">
                          <ion-option *ngFor="let p of people | async" [value]="p.EID " [selected]="p.EID == currAsset.Assignee"> {{p.EID}}</ion-option>
                          
                        </ion-select>
                </ion-item>
    
                <ion-item>
                    <ion-label>Cube</ion-label>
                    <ion-select name='l' [(ngModel)]='assetDb.Cube' interface="popover" >
                      <ion-option *ngFor="let c of cube | async" [value]= "c.Name" [selected]="c.Name == currAsset.Cube"> <h2>{{c.Name}}</h2>
                      </ion-option>
                      
                    </ion-select>
                  </ion-item>

                <ion-item>
                      <ion-label>Peripherals</ion-label>
                      <ion-select name='kkk' [(ngModel)]='assetDb.Peripherals' multiple="true">
                        <ion-option *ngFor="let p of perip | async" [value]="p.id" [selected]="p.id == currAsset.Peripheral">{{p.Model}}
                        </ion-option>
                        
                    </ion-select>
                </ion-item> 
            
                <button ion-button color="test3" outline align="center">ADD PERIPHERAL</button>
  
  </ion-content>
  
