<ion-header>
  <ion-navbar>
    <ion-title>Credential Approval</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let c of credList | async">
        <ion-avatar>
          <ion-icon name="person"></ion-icon>
          <h2>{{c.User}}</h2>
        </ion-avatar>
        
      <ion-item-options side="right">

        <button ion-button color="success" (click)='approveUser(c.User, c.Pass, c.id)'>
          <ion-icon name="checkmark"></ion-icon>
          Approve
        </button>
        <button ion-button color="danger" (click)='rejectUser(c.id)'>
          <ion-icon name="trash"></ion-icon>
          Reject
        </button>

      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <h1 *ngIf='listvalue == true'>
    There are no pending requests as of this moment.
  </h1>
</ion-content>