<ion-header>
  <ion-navbar>
    <ion-title>Credential Approval</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let c of credList | async">
        <ion-avatar item-start><ion-icon name="person"></ion-icon></ion-avatar>
          <h3>{{c.User}}</h3>
          <h2>User Type: {{c.type}}</h2>
        
      <ion-item-options side="right">

        <button ion-button color="success" (click)='approveUser(c.User, c.Pass, c.id,c.firstname, c.middlename, c.lastname, c.phone, c.type)'>
          <ion-icon name="checkmark"></ion-icon>
          Approve
        </button>
        <button ion-button color="danger" (click)='rejectUser(c.id)'>
          <ion-icon name="trash"></ion-icon>
          Reject
        </button>

      </ion-item-options>
    </ion-item-sliding>

    <ion-item *ngIf='(credList | async) == 0' > <h1 align='center' >There are currently no pending requests. </h1></ion-item>
  </ion-list>

</ion-content>