<ion-header>
  <ion-navbar *ngFor='let p of persons'>
    <ion-title>Viewing Custodian {{p.firstname}} {{p.lastname}} </ion-title>

    <ion-buttons end>
        <button ion-button icon-only clear (click)="goHome()">
          <ion-icon name="home">
          </ion-icon>
        </button>
      </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content align='center'>

  <ion-list no-line *ngFor='let p of persons'>
    <img class="image"[src]='p.img' width="350" height="350" (click)='viewImg(p.img)'>
    <img class="proimg" [src]='p.img' width="250" height="250" (click)='viewImg(p.img)'>
  <h1 class="name">{{p.firstname}} {{p.middlename}} {{p.lastname}}</h1>
  <p class="eid">{{p.eid}}</p>

  <div align="left">
  <h2 class="ownedAss">Owned Assets:</h2>

  <ion-list no-line *ngFor="let a of assets | async">

    <ion-item *ngIf="a.Owner == p.eid">
        <button ion-item clear (click)='viewAsset(a.Assignee, a.Cube, a.Hard_Disk, a.Memory, a.Model, a.Number, a.OS, a.Owner, a.Project, a.Serial, a.Type, a.id, a.img)'>
        <p class="ownedAssCont"> {{a.Type}} {{a.Model}} </p>
        </button>
    </ion-item>
  </ion-list>

  <h2 class="AssignedAss">Assigned Assets:</h2>
  <ion-list no-line *ngFor="let a of assets | async">

    <ion-item *ngIf="a.Assignee == p.eid">
        <button ion-item clear (click)='viewAsset(a.Assignee, a.Cube, a.Hard_Disk, a.Memory, a.Model, a.Number, a.OS, a.Owner, a.Project, a.Serial, a.Type, a.id, a.img)'>
        <p class="AssgnedAssCont">{{a.Type}} {{a.Model}}</p>
        </button>
    </ion-item>
  </ion-list>
</div>

</ion-list>



</ion-content>
