<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end>
        <button ion-button icon-only clear menuToggle='right'>
          <ion-icon name="search">
          </ion-icon>
        </button>
      </ion-buttons>

    <ion-title >Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding (onLoad)="presentLoading()">

  <div *ngIf="accType == 'admin'">
  <ion-list no-lines *ngFor="let item of items | async">
    <ion-item >
        <button ion-button block large color="darkblue" (click)='viewPerson(item.First_name, item.Middle_name, item.Last_name, item.EID, item.img, item.id)'>
            <h2 class='listtext'>{{item.First_name}} {{item.Middle_name}} {{item.Last_name}}</h2>
        </button>
      </ion-item>
  </ion-list>
</div>

  <div *ngIf="accType == 'user'">
    <h2>My Assets</h2>
  <ion-list no-lines  *ngFor="let item of assets | async">
      <ion-item *ngIf="item.Owner == accEmail">
          <button ion-button block large color="darkblue"  (click)='viewPerson(item.First_name, item.Middle_name, item.Last_name, item.EID, item.img, item.id)'>
              <h2 class='listtext' >{{item.Model}}</h2>
          </button>
        </ion-item>
    </ion-list>

    <div *ngIf="(assets | async) == 0">
      <p>You have no known assets :(</p>
    </div>
  </div>


</ion-content>
