$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";
@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";

$colors: (
  primary:    #6495ed,
  secondary:  #000000,
  danger:     #f53d3d,
  light:      #ffffff,
  dark:       #222,
  success:    #00ff00,
  test:       #fc6a03,
  test2:      #223b33,
  test3:      #21f965
);

//Modifed Variables
$toolbar-background: color($colors, dark);
$header: color($colors, test2);
$background-color: color($colors, test2);
$list-background-color: color($colors, test2);
$list-text-color: color($colors, test3);
$item-text-color: color($colors, test3);
$button-text-color: color($colors, test3);
$toolbar-md-title-text-color: color($colors, test3);

