<ion-menu [content]="content">
  <ion-header id='con'>
      <ion-list >
        <button ion-item clear [navPush]="pushPage" id='con'>
          <ion-item id='con' >
            <ion-avatar item-start>
              <img src="assets/imgs/logo.png">
            </ion-avatar>
            <h2>Kenneth M. Carolino</h2>
          
          </ion-item>
        </button>
        </ion-list>
  </ion-header>

  <ion-content>
    <ion-list no-lines>
      <button menuClose  ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon [name]="p.icon" item-start></ion-icon>
        {{p.title}}
      </button>
      <button menuClose ion-item (click)="logOut()">
          <ion-icon name="log-out" item-start></ion-icon>
            Log Out
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu side="right" [content]="search">
  <ion-header>
    <ion-navbar>
      <ion-title>
        Search
      </ion-title>

      <ion-buttons end>
          <button ion-button icon-only clear menuClose='right' (click)='submitKeyword(searchTerm)' >
            Done
          </button>
        </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-searchbar animated [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"> </ion-searchbar>

    <ion-list >
      <ion-item *ngFor='let item of items | async' >
        <ion-icon name='search'></ion-icon>
        {{item.First_name}}
    </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content #search swipeBackEnabled="false"></ion-nav>
