<ion-header>
  <ion-navbar>
    <ion-title >Cube Locations</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

<ion-list >
  <ion-item-sliding  *ngFor='let c of cube | async'>
    <ion-item item-start>
    <h2>{{c.Name}}</h2>
    <p>{{c.Location}}</p>
    </ion-item>

    <ion-item-options side="right" *ngIf="fafe == 'admin'" >
      <button ion-button color="danger" (click)='removeCube(c.id)'>
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

<ion-fab right bottom>
  <button ion-fab color="secondary" (click)='addCube()'><ion-icon name="add"></ion-icon></button>
</ion-fab>

</ion-content>
