<ion-header>
  <ion-navbar>
    <ion-title >Operating Systems</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

<ion-list >
  <ion-item-sliding  *ngFor='let o of os | async'>
    <h2 ion-item>{{o.Name}}</h2>
    <p>{{o.version}}</p>
    <p>{{o.edition}}</p>
  

    <ion-item-options side="right" *ngIf="fafe == 'admin'" >
      <button ion-button color="danger" (click)='removeOs(o.id)'>
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

<ion-fab right bottom>
  <button ion-fab color="secondary" (click)='addOs()'><ion-icon name="add"></ion-icon></button>
</ion-fab>

</ion-content>
