<ion-header>
  <ion-navbar>
    <ion-title>Editing User {{editperson.firstname}} {{editperson.lastname}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear (click)='this.updatePerson(peopleaf)'>
        <ion-icon name="checkmark" color='light'>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-slides pager name="newImg">

    <ion-slide style="background-color: grey" >
      <div (click)='takePic()'>
    <button ion-button >
      <ion-icon name="camera" color='dark'></ion-icon>
        Take a Picture
    </button>
    </div>
    <br>
    <i><b>or</b></i>
    <br>
    <br>
    <div (click)='getPic()'> 
      <button ion-button >
        <ion-icon name="images" color='dark'></ion-icon>
          Get from Gallery
      </button>
    </div>
  </ion-slide>

  <ion-slide *ngIf='(img == undefined && deleteserve == true)'>
    <img src='assets/imgs/logo.png'>
  </ion-slide>

  <ion-slide *ngIf='img != undefined'>
    <img [src]='img'>
    <ion-fab right top>
      <button ion-fab color="danger" (click)='showConfirmlocal()'>
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-fab>
  </ion-slide>

  <ion-slide *ngIf='(img == undefined && deleteserve == false)'>
    <img [src]='editperson.img'>
    <ion-fab right top *ngIf='this.editperson.img != stock' >
      <button ion-fab color="danger" (click)='showConfirmserver(peopleaf)'>
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-fab>
  </ion-slide>
</ion-slides>

  <ion-list>
    <ion-item>
      <ion-label stacked>First Name</ion-label>
      <ion-input type="text" placeholder='First Name' value={{editperson.firstname}} [(ngModel)]="peopleaf.firstname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Middle Name</ion-label>
      <ion-input type="text" placeholder='Middle Name' value={{editperson.middlename}} [(ngModel)]="peopleaf.middlename"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Last Name</ion-label>
      <ion-input type="text" placeholder='Last Name' value={{editperson.lastname}} [(ngModel)]="peopleaf.lastname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Accenture EID</ion-label>
      <ion-input type="text" placeholder='EID' value={{editperson.eid}} [(ngModel)]="peopleaf.eid"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label stacked>UID</ion-label>
      <ion-input readonly type="text" value={{editperson.personID}} [(ngModel)]="peopleaf.personID"></ion-input>
    </ion-item> -->
  </ion-list>
</ion-content>